# This is a configuration definition file in folder "C:\Users\kjwang915\Documents\LTLMoP\LTLMoP\src\examples\hexapod\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
standUp = Bob.HexapodActuator.standUp()
sitDown = Bob.HexapodActuator.sitDown()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Bob

Name: # Configuration name
Simulation

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
HexapodActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 496.52432969,    0.        ,  521.54915591],
       [   0.        , -496.52432969,  578.15292949],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
HexapodDrive()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
HexapodInit(comPort="COM8")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
HexapodLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Hexapod:Hexapod <t-X>",y_VICON_name="Hexapod:Hexapod <t-Y>",theta_VICON_name="Hexapod:Hexapod <a-Z>")

RobotName: # Robot Name
Bob

SensorHandler: # Sensor handler file in robots/Type folder
HexapodSensor()

Type: # Robot type
Hexapod

